<!--
  Generated template for the SpotDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<h1 text-center>{{spotDetail.name}}</h1>
	<div class="spot-images">
		<ion-slides pager>
			<ion-slide *ngFor="let image of spotImages">
				<img [src]="image.path" class="slide-image"/>
			</ion-slide>
		</ion-slides>
	</div>
	<ion-item text-wrap>
		<p>{{spotDetail.description}}</p>
		<p text-right> - {{spotOwner.userName}}</p>
	</ion-item>

	<ion-card class="rating-section">
		<rating [(ngModel)]="spotDetail.score" (ngModelChange)="ratingChange($event)"></rating>
		<ion-item>
		  <p class="ranking">#{{spotDetail.ranking}} in {{spotCity.name}}</p>
		</ion-item>
	</ion-card>

	<div class="work-log">
		<h1 text-center>Arbeitseinträge</h1>
		<ion-card *ngFor="let entry of spotWorkEntries">
			<ion-item>
				<ion-avatar item-left>
					<img [src]="entry.user.avatar.path">
				</ion-avatar>
				<h2>{{entry.user.userName}}</h2>
				<p>{{entry.entryDate | date:'dd.MM.yyyy, HH:mm:ss'}} Uhr</p>
			</ion-item>
			<ion-card-content text-wrap>
				<p>{{entry.description}}</p>
			</ion-card-content>
		</ion-card>
	</div>

	<ion-fab right bottom>
		<button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab color="primary" (click)="openCreateWorkEntry()"><ion-icon name="create"></ion-icon></button>
			<button ion-fab color="primary"><ion-icon name="image"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>

</ion-content>
